.profile_tab_post {
    display: flex;
}

.profile_tab_post_left {
    width: 265px;
    background-color: #ffff;
    border-radius: 20px;
    padding-top: 10px;
    margin-right: 40px;
}

.css-1h9z7r5-MuiButtonBase-root-MuiTab-root {
    text-transform: none;
    font-weight: bold;
}

.profiletab_letf_img_all_item_img {
    width: 81px;
    height: 81px;
    padding: 2px;

}

.profiletab_letf_img_all_item {
    margin-bottom: 20px;

}

.profiletab_letf_img_all {
    background-color: white;
    width: 265px;
    border-radius: 20px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 8px;
    margin-right: 40px;
    margin-top: 40px;
}

.css-1aquho2-MuiTabs-indicator {
    position: absolute;
    height: 2px;
    bottom: 0;
    width: 100%;
    -webkit-transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    background-color: #073F82;
}

.css-1h9z7r5-MuiButtonBase-root-MuiTab-root.Mui-selected {
    color: #073F82;
}

.dropdown-toggle::after {
    display: inline-block;
    margin-left: 0.255em;
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
}

.profile_tab_post_left_detail_title {
    font-weight: bold;
    padding-bottom: 10px;
    padding-left: 10px;
}


.profile_tab_post_left_detail_des {
    border-bottom: 1px solid black;
    padding-bottom: 10px;
    padding-left: 10px;
    font-size: 15px;
    margin-right: 10px;
}

.profile_tab_post_left_contact {
    margin-right: 10px;
    padding-left: 10px;
    border-bottom: 1px solid black;
}

.profile_tab_post_left_premium {
    margin-top: 10px;
    padding-left: 10px;
}

.profile_tab_post_center_filter_post {
    width: 550px;
    height: 37px;
    background-color: #fff;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 10px;
    padding-left: 10px;
}

.profile_tab_post_center_post {
    width: 565px;
    height: 549px;
    background-color: #fff;
    margin-left: 20px;
    margin-top: 20px;
    border-radius: 20px;
}

.profile_tab_avt_post {
    width: 45px;
    height: 45px;
    border-radius: 100px;
}

.img_popup {
    width: 500px;
    height: 500px;
}

.img_popupp {
    width: 500px;
    height: 500px;
}

.profile_right {
    margin-left: 40px;
}

.profile_right_top {
    width: 265px;
    background-color: #ffff;
    border-radius: 20px;
}

.profile_right_top_prouct {
    border-bottom: 1px solid black;
    margin-bottom: 10px;
}

.profile_right_top_title {
    margin-left: 10px;
    padding-top: 10px;
    font-weight: bold;
    padding-bottom: 20px;
}

.profile_right_img_product {
    width: 60px;
    height: 60px;
    margin-right: 30px;

}

.product_item {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    margin-left: 10px;
}

.profile_product_viewmore {
    margin-left: 90px;
    margin-top: 10px;
    color: black;
    text-decoration: underline;
    font-size: 15px;
}

.profile_right_center {
    width: 265px;
    background-color: #ffff;
    border-radius: 20px;
    margin-top: 20px
}

.profile_right_bottom_ads_senmess {
    background-color: #2187FF;
    color: white;
    border-radius: 5px !important;
    font-size: 14px;
    margin-top: 20px;
    margin-left: 20px;
}

.profile_right_bottom_ads_senmess:hover {
    background-color: #1472de !important;
}


.boderbottomcompany {
    margin-bottom: 10px;
    width: 100%;
    height: 1px;
    background-color: black;
}


.newfeed_right_ads_profile {
    margin-bottom: 20px;
}

.profile_right_bottom {
    width: 265px;
    height: 424px;
    background-color: #fff;
    border-radius: 20px;
}

.profile_right_bottom_img_ads {
    width: 265px;
    height: 291px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.profile_right_bottom_ads_detail {
    display: flex;
}

.profile_ads_detail_company {
    margin-top: 20px;
    margin-left: 10px;
    margin-bottom: 10px;
}

.profile_introduction {
    width: 1100px;
    height: 690px;
    background-color: #fff;
    border-radius: 20px;
}

.profile_introduction_text {
    margin-left: 20px;
    padding-top: 20px;
    margin-right: 20px;
    border-bottom: 1px solid black;
}

.profile_introduction_infomation {
    margin-left: 20px;
    margin-top: 20px;
    border-bottom: 1px solid black;
    margin-right: 20px;
}

.profile_introductiob_certificate {
    margin-top: 20px;
    margin-left: 20px;
}

.profile_product_left {
    width: 835px;
    height: 813px;
    background-color: #ffff;
    border-radius: 20px;
    margin-right: 20px;
}

.profile_product {
    display: flex;
}

.profile_product_right {}

.profile_product_right_top {
    width: 265px;
    height: 370px;
    background-color: #fff;
    border-radius: 20px;
    margin-bottom: 20px;
}

.profile_product_right_bottom {
    width: 265px;
    height: 424px;
    background-color: #fff;
    border-radius: 20px;
}

.profile_product_viewmore_product {
    margin-left: 100px;
    margin-top: 20px;
}

.profile_product_left_hightlight {
    display: flex;
}

.product_hightlight_item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product_img_hightlight {
    width: 109px;
    height: 130px;
    margin: 10px;
}

.all_product_profile {
    margin-left: 20px;
    margin-top: 20px;
}

.profile_new_product {
    display: flex;
    margin-left: 200px;
}

.act_post_profile {
    display: flex !important;
    justify-content: space-between !important;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 20px;
    padding-bottom: 10px;
}