.view_image_item {
    width: 800px;
    height: 560px;
}

.viewimages {
    display: flex;
    align-items: center;
}

.viewimages_main {
    display: flex;
    justify-content: center;
}

.btn_back_image_item {
    background-color: #E6E6E6;
    opacity: 0.5;
}

.btn_back_image_item {
    opacity: 1;
}

.btn_next_image_item {
    background-color: #E6E6E6;
    opacity: 0.5;

}

.btn_next_image_item:hover {
    opacity: 1;
}

.viewimage_btn_backhome {
    display: flex;
    align-items: center;
    position: absolute;
    margin-left: 40px;
    margin-top: 25px;
    opacity: 0.3;
}

.viewimage_btn_backhome:hover {
    opacity: 1;
    background-color: #4E4F50;
    width: 40px;
    height: 40px;
    border-radius: 100px;
}