.scroll_cmt {
    border: none !important;
}

.act_post_item_scroll {
    display: flex;
    justify-content: space-between;
}

.submit_cmt {
    margin-left: -30px;
    margin-top: 4px;
    background-color: #E0DDDD !important;
}

.submit_cmt_icon {
    cursor: pointer;
    color: #242526 !important;

}

.css-i9fmh8-MuiBackdrop-root-MuiModal-backdrop {
    position: fixed;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    right: 0;
    bottom: 0;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 5%) !important;
    -webkit-tap-highlight-color: transparent;
    z-index: -1;
}