.postpic_4_img_post_3 {
    width: 275px;
    border-right: 3px solid black;
}

.postpic_4_img_post_4 {
    width: 275px;
}
.postpicture_group_four_picture {
    display: flex;
    flex-wrap: wrap;
    gap: 1px;
}

.img_post_four_picture {
    width: 275px;
}